# Ignore virtual environment
venv/
# Ignore Python cache
__pycache__/
*.py[cod]
# Ignore environment variables
.env
# Ignore IDE configurations
.idea/
.vscode/

instance/
# Ignore any other files or folders you don't want to track
